.lessBorderRed {
  border: 1px red solid;
}
html {
  color: #000;
  background: #FFF;
}
@media (min-width: 1280px) {
  html {
    font-size: 15px !important;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 16.5px !important;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 22px !important;
  }
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}
/*because legend doesn't inherit in IE */
legend {
  color: #000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}
/*box center*/
.lessTransformCenterHorizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: 50% 0;
  -webkit-transform: translate(-50%, 0);
  -webkit-transform-origin: 50% 0;
}
.lessTransformCenterVertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transform-origin: 0 50%;
  -webkit-transform: translate(0, -50%);
  -webkit-transform-origin: 0 50%;
}
body {
  font-family: tahoma, arial, 'Hiragino Sans GB', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
.wrap {
  min-width: 54.54545455rem;
  font-size: 0.63636364rem;
  font-family: '黑体', Helvetica, Arial, sans-serif;
}
.wrap a {
  color: #000;
  text-decoration: none;
}
.topMenu {
  position: fixed;
  top: 0;
  height: 3.63636364rem;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  border-bottom: 1px solid #ccc;
}
.topMenu .content {
  width: 54.54545455rem;
  height: 3.63636364rem;
  margin: 0 auto;
}
.topMenu .content .logo {
  margin-right: 3.18181818rem;
  display: inline-block;
  width: 6rem;
  height: 3.63636364rem;
}
.topMenu .content .logo > img {
  position: absolute;
  top: 50%;
  margin-top: -0.90909091rem;
}
.topMenu .content ul {
  display: inline-block;
  list-style-type: none;
}
.topMenu .content ul li {
  float: left;
  width: 4.54545455rem;
  height: 3.5rem;
  margin-right: 0.90909091rem;
  border-bottom: solid #fff;
  border-bottom-width: 0.13636364rem;
  position: relative;
  text-align: center;
}
.topMenu .content ul li a {
  color: #2a323a;
  display: block;
  text-align: center;
  padding-top: 0.68181818rem;
  text-decoration: none;
}
.topMenu .content ul li a .title {
  font-size: 0.81818182rem;
}
.topMenu .content ul li a .subtitle {
  font-size: 0.54545455rem;
  color: #a9b0b8;
}
.topMenu .content ul li:hover {
  border-bottom: solid #332f47;
  border-bottom-width: 0.13636364rem;
}
.topMenu .content ul li.active {
  border-bottom: solid #332f47;
  border-bottom-width: 0.13636364rem;
}
.topMenu .content .login {
  /*原来320*/
  width: 15.90909091rem;
  height: 3.63636364rem;
  margin-left: 0.90909091rem;
  float: right;
  display: block;
  background: #332f47;
  position: relative;
}
.topMenu .content .login p {
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transform-origin: 0 50%;
  -webkit-transform: translate(0, -50%);
  -webkit-transform-origin: 0 50%;
  right: 10px;
}
.topMenu .content .login p .title {
  font-size: 0.81818182rem;
}
.topMenu .content .login p .subtitle {
  font-size: 0.63636364rem;
  color: #a9b0b8;
}
.topMenu .content .login > img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transform-origin: 0 50%;
  -webkit-transform: translate(0, -50%);
  -webkit-transform-origin: 0 50%;
  width: 2.45454545rem;
  height: 2.45454545rem;
  display: inline-block;
  margin-left: 0.68181818rem;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background: #333;
  /*活动导航的颜色*/
  border-color: #333;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: transparent;
  /*非活动导航的颜色*/
  height: 8px;
  width: 8px;
  margin: -4px 0 0 -4px;
  border: 1px solid #333;
  /*这里设置的是非活动导航的颜色*/
}
#fp-nav ul li .fp-tooltip {
  color: #333;
}
#fullpage {
  position: relative;
}
#fullpage #section1 {
  background: url("../img/one-bg.jpg") no-repeat;
  width: 100%;
  height: 100%;
}
#fullpage #section1 .content {
  width: 54.54545455rem;
  margin: 0 auto;
  overflow: hidden;
}
#fullpage #section1 .content .left {
  background: url("../img/one-left-bg.png") no-repeat;
  float: left;
  margin-top: 7.95454545rem;
  width: 26.22727273rem;
  height: 27.45454545rem;
  background-size: 100% 100%;
}
#fullpage #section1 .content .right {
  float: right;
  margin-top: 7.95454545rem;
  width: 26.22727273rem;
  height: 27.45454545rem;
  overflow: hidden;
  position: relative;
}
#fullpage #section1 .content .right .top {
  width: 26.22727273rem;
  height: 13.77272727rem;
  background: url("../img/one-right-bg.png") no-repeat;
  background-size: 100% 100%;
}
#fullpage #section1 .content .right .download {
  font-size: 18px;
  font-size: 1.09090909rem;
  position: absolute;
  bottom: 5rem;
}
#fullpage #section1 .content .right .download a {
  display: inline-block;
  width: 11.36363636rem;
  height: 3.18181818rem;
  line-height: 3.18181818rem;
  border-radius: 1.36363636rem;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}
#fullpage #section1 .content .right .download a > span {
  margin-left: 1.36363636rem;
}
#fullpage #section1 .content .right .download .ios {
  background: #3e81e4 url("../img/ios.png") no-repeat;
  background-size: 1.77272727rem 2.13636364rem;
  background-position: 1.36363636rem;
  margin-right: 0.90909091rem;
}
#fullpage #section1 .content .right .download .android {
  background: #3e81e4 url("../img/android.png") no-repeat;
  background-size: 1.86363636rem 2.27272727rem;
  background-position: 1.36363636rem;
}
#fullpage #section1 .content #meteor0 {
  position: absolute;
  top: -100px;
  right: 200px;
}
#fullpage #section1 .content #meteor1 {
  position: absolute;
  top: -100px;
  right: 100px;
}
#fullpage #section1 .content #meteor2 {
  position: absolute;
  top: -100px;
  right: -110px;
}
#fullpage #section1 .content #meteor3 {
  position: absolute;
  top: -100px;
  left: 100px;
}
#fullpage #section1 .content #meteor4 {
  position: absolute;
  top: -100px;
  left: 400px;
}
#fullpage #section1 .content #meteor5 {
  position: absolute;
  top: -100px;
  right: 50px;
}
#fullpage #section2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#fullpage #section2 .title {
  margin: 0 auto;
  margin-top: 2.63636364rem;
  width: 10.45454545rem;
  text-align: center;
}
#fullpage #section2 .title .title1 {
  font-size: 1.36363636rem;
  color: #000;
  padding-left: 1.13636364rem;
  position: relative;
}
#fullpage #section2 .title .title1:before {
  content: " ";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transform-origin: 0 50%;
  -webkit-transform: translate(0, -50%);
  -webkit-transform-origin: 0 50%;
  left: 2%;
  width: 1.72727273rem;
  height: 1.72727273rem;
  display: inline-block;
  background: url("../img/one-title.png") no-repeat;
  background-size: cover;
}
#fullpage #section2 .title .title2 {
  font-size: 0.81818182rem;
  color: #999;
  margin-top: 0.90909091rem;
}
#fullpage #section2 .product {
  width: 54.54545455rem;
  margin: 0 auto;
  margin-top: 2.04545455rem;
  overflow: hidden;
}
#fullpage #section2 .product .left {
  width: 49%;
  overflow: hidden;
  float: left;
}
#fullpage #section2 .product .right {
  width: 49%;
  overflow: hidden;
  float: right;
}
#fullpage #section2 .product .item {
  float: left;
  width: 12.95454545rem;
  height: 13.09090909rem;
  background-color: #fafafa;
  margin-left: 0.72727273rem;
  margin-bottom: 0.45454545rem;
  text-align: center;
  position: relative;
}
#fullpage #section2 .product .item:hover {
  box-shadow: 0 0 10px #ccc;
}
#fullpage #section2 .product .item .title1 {
  font-size: 1.09090909rem;
  color: #000;
}
#fullpage #section2 .product .item .title2 {
  margin-top: 0.68181818rem;
  color: #999;
  font-size: 0.72727273rem;
}
#fullpage #section2 .product .item .imgcontainer {
  height: 3.13636364rem;
  line-height: 3.13636364rem;
  margin-top: 1.36363636rem;
  margin-bottom: 1rem;
}
#fullpage #section2 .product .item .imgcontainer > img {
  vertical-align: middle;
  max-height: 3.13636364rem;
}
#fullpage #section2 .product .item:nth-child(1),
#fullpage #section2 .product .item:nth-child(3) {
  margin-left: 0;
}
#fullpage #section3 {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#fullpage #section3 .top {
  width: 100%;
  height: 11.81818182rem;
  position: relative;
  background: url("../img/three-bg.jpg") no-repeat;
  background-size: 100% 100%;
}
#fullpage #section3 .top > p {
  font-size: 1.36363636rem;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: 50% 0;
  -webkit-transform: translate(-50%, 0);
  -webkit-transform-origin: 50% 0;
  margin-top: 3.63636364rem;
  height: 1.95454545rem;
  line-height: 1.95454545rem;
}
#fullpage #section3 .top > p:before {
  content: "";
  background: url(../img/three-title.png) no-repeat;
  width: 2rem;
  height: 1.86363636rem;
  margin-right: 0.45454545rem;
  padding-bottom: 0.45454545rem;
  vertical-align: middle;
  display: inline-block;
}
#fullpage #section3 .top > img {
  width: 100%;
  height: 11.81818182rem;
}
#fullpage #section3 .top > .title {
  width: 54.54545455rem;
  bottom: 0;
  height: 4.54545455rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: 50% 0;
  -webkit-transform: translate(-50%, 0);
  -webkit-transform-origin: 50% 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
}
#fullpage #section3 .top > .title .title1 {
  font-size: 1.09090909rem;
  padding-top: 0.45454545rem;
}
#fullpage #section3 .top > .title .title2 {
  font-size: 0.81818182rem;
  padding-top: 0.45454545rem;
}
#fullpage #section3 .plan {
  width: 54.54545455rem;
  height: 17.27272727rem;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
}
#fullpage #section3 .plan .item {
  margin-top: 2.27272727rem;
  width: 18.18181818rem;
  height: 18.18181818rem;
  text-align: center;
  float: left;
}
#fullpage #section3 .plan .item img {
  width: 2.81818182rem;
  height: 2.81818182rem;
}
#fullpage #section3 .plan .item .title {
  margin-top: 0.68181818rem;
  margin-bottom: 0.68181818rem;
  font-size: 0.81818182rem;
  text-align: center;
}
#fullpage #section3 .plan .item .list {
  padding-left: 1.36363636rem;
  overflow: hidden;
  color: #666;
}
#fullpage #section3 .plan .item .list .left {
  font-size: 0.72727273rem;
  display: block;
  float: left;
}
#fullpage #section3 .plan .item .list .right {
  font-size: 0.72727273rem;
  text-align: center;
  display: block;
}
#fullpage #section3 .plan .item .title1 {
  font-size: 0.72727273rem;
  color: #666;
}
#fullpage #section3 .cooper {
  width: 54.54545455rem;
  margin: 0 auto;
}
#fullpage #section3 .cooper > p {
  margin-top: 1.81818182rem;
  font-size: 1.09090909rem;
  color: #010101;
  text-align: center;
}
#fullpage #section3 .cooper .list {
  margin-top: 0.90909091rem;
  overflow: hidden;
}
#fullpage #section3 .cooper .list .left {
  width: 49%;
  float: left;
}
#fullpage #section3 .cooper .list .right {
  width: 49%;
  float: right;
}
#fullpage #section3 .cooper .list .item {
  float: left;
  margin-left: 2.5rem;
  text-align: center;
}
#fullpage #section3 .cooper .list .item img {
  width: 3.63636364rem;
  height: 3.63636364rem;
}
#fullpage #section3 .cooper .list .item p {
  margin-top: 0.45454545rem;
  font-size: 0.72727273rem;
  text-align: center;
}
#fullpage #section4 .top {
  width: 100%;
  height: 11.81818182rem;
  background: url("../img/four-bg.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
#fullpage #section4 .top .title {
  font-size: 1.36363636rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%;
  height: 1.95454545rem;
  line-height: 1.95454545rem;
}
#fullpage #section4 .top .title:before {
  content: "";
  background: url(../img/four-title.png) no-repeat;
  width: 2.27272727rem;
  height: 1.86363636rem;
  margin-right: 0.45454545rem;
  padding-bottom: 0.45454545rem;
  vertical-align: middle;
  display: inline-block;
}
#fullpage #section4 .top > img {
  width: 100%;
  height: 11.81818182rem;
  display: block;
}
#fullpage #section4 .list {
  overflow: hidden;
  margin-top: 0.45454545rem;
}
#fullpage #section4 .list .left {
  width: 49.5%;
  overflow: hidden;
  float: left;
}
#fullpage #section4 .list .right {
  width: 49.5%;
  float: right;
  overflow: hidden;
}
#fullpage #section4 .list .item {
  width: 21.36363636rem;
  height: 12.72727273rem;
  margin-left: 0.45454545rem;
  position: relative;
  float: left;
}
#fullpage #section4 .list .item > img {
  width: 100%;
  height: 100%;
}
#fullpage #section4 .list .item:nth-child(1) {
  margin-left: 0;
}
#fullpage #section4 .list .item .title1 {
  position: absolute;
  top: 25%;
  left: 49%;
  font-size: 1.36363636rem;
  color: #fffefe;
}
#fullpage #section4 .list .item .title2 {
  position: absolute;
  top: 40%;
  left: 49%;
  font-size: 0.72727273rem;
  width: 8.72727273rem;
  color: #fff;
}
#fullpage #section4 .list .item:first-child {
  margin-left: 0;
}
#fullpage #section4 .list .title1 {
  position: absolute;
  top: 25%;
  left: 49%;
  font-size: 30px;
  color: #fffefe;
}
#fullpage #section4 .list .title2 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: #fff;
}
#fullpage #section4 .advantage {
  width: 54.54545455rem;
  margin: 0 auto;
}
#fullpage #section4 .advantage .subtitle {
  color: #000;
  text-align: center;
  font-size: 1.36363636rem;
  margin-top: 2.27272727rem;
  margin-bottom: 1.59090909rem;
}
#fullpage #section4 .advantage .platform .item {
  height: 9.09090909rem;
  width: 27.27272727rem;
  position: relative;
}
#fullpage #section4 .advantage .platform .item:nth-child(1) {
  background: url("../img/four-plateform01.png") left center no-repeat;
  float: left;
  background-size: 4.86363636rem 3.40909091rem;
}
#fullpage #section4 .advantage .platform .item:nth-child(2) {
  background: url("../img/four-plateform02.png") no-repeat;
  background-size: 4.36363636rem 4.31818182rem;
  background-position: 6.36363636rem;
  float: right;
}
#fullpage #section4 .advantage .platform .item .desc {
  padding-left: 6.81818182rem;
  height: 9.09090909rem;
}
#fullpage #section4 .advantage .platform .item .desc .title1 {
  font-size: 1.09090909rem;
}
#fullpage #section4 .advantage .platform .item .desc .title2 {
  font-size: 0.72727273rem;
  margin-top: 0.90909091rem;
  color: #666;
}
#fullpage #section4 .advantage .platform .item .desc-padding {
  padding-left: 12.72727273rem;
}
#fullpage #section5 .top {
  background: url("../img/five-bg.jpg") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 6.36363636rem;
  position: relative;
}
#fullpage #section5 .top .title {
  font-size: 1.36363636rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%;
  height: 1.95454545rem;
  line-height: 1.95454545rem;
}
#fullpage #section5 .top .title:before {
  content: "";
  background: url(../img/five-title.png) no-repeat;
  width: 2.27272727rem;
  height: 1.86363636rem;
  margin-right: 0.45454545rem;
  padding-bottom: 0.45454545rem;
  vertical-align: middle;
  display: inline-block;
}
#fullpage #section5 .top > img {
  width: 100%;
  display: block;
}
#fullpage #section5 .content {
  width: 54.54545455rem;
  margin: 0 auto;
}
#fullpage #section5 .content .title1 {
  font-size: 1.36363636rem;
  margin-top: 2.04545455rem;
  margin-bottom: 0.68181818rem;
  text-align: center;
}
#fullpage #section5 .content .company-intro .title2 {
  padding-left: 3.40909091rem;
  font-size: 0.72727273rem;
  color: #999;
  text-indent: 2.72727273rem;
}
#fullpage #section5 .content .list {
  overflow: hidden;
}
#fullpage #section5 .content .list .item {
  background: url("../img/five-item.png") no-repeat center 17%;
  width: 17.27272727rem;
  height: 11.36363636rem;
  background-color: #fafafa;
  float: left;
  margin-left: 0.90909091rem;
  text-align: center;
  overflow: hidden;
}
#fullpage #section5 .content .list .item:nth-child(1) {
  margin-left: 0;
}
#fullpage #section5 .content .list .item .title {
  font-size: 0.72727273rem;
  color: #999;
  margin-top: 5.22727273rem;
  margin-bottom: 0.45454545rem;
}
#fullpage #section5 .content .list .item .blue {
  font-size: 0.81818182rem;
  color: #4ba3fb;
  display: block;
}
#fullpage #section5 .content .contact-us {
  margin-top: 2.27272727rem;
}
#fullpage #section5 .content .contact-us .title1 {
  font-size: 1.36363636rem;
  margin-bottom: 0.45454545rem;
  text-align: center;
}
#fullpage #section5 .content .contact-us .detail {
  overflow: hidden;
}
#fullpage #section5 .content .contact-us .detail .left {
  width: 49%;
  overflow: hidden;
  float: left;
}
#fullpage #section5 .content .contact-us .detail .left .item {
  display: block;
  float: left;
  height: 30px;
  font-size: 0.72727273rem;
  color: #999;
  padding-left: 2.27272727rem;
}
#fullpage #section5 .content .contact-us .detail .left .item:nth-child(1) {
  width: 11.36363636rem;
  content: "";
  background: url("../img/five-contact01.png") no-repeat;
}
#fullpage #section5 .content .contact-us .detail .left .item:nth-child(2) {
  width: 9.09090909rem;
  content: "";
  background: url("../img/five-contact02.png") no-repeat;
}
#fullpage #section5 .content .contact-us .detail .right {
  width: 49%;
  overflow: hidden;
  float: right;
}
#fullpage #section5 .content .contact-us .detail .right .item {
  display: block;
  float: left;
  height: 30px;
  font-size: 0.72727273rem;
  color: #999;
  padding-left: 2.27272727rem;
}
#fullpage #section5 .content .contact-us .detail .right .item:nth-child(1) {
  width: 9.09090909rem;
  content: "";
  background: url("../img/five-contact03.png") no-repeat;
}
#fullpage #section5 .content .contact-us .detail .right .item:nth-child(2) {
  width: 9.09090909rem;
  content: "";
  background: url("../img/five-contact04.png") no-repeat;
}
#fullpage #section5 .content .contact-us .item {
  display: block;
  float: left;
  height: 30px;
  font-size: 0.72727273rem;
  color: #999;
  padding-left: 2.27272727rem;
  background: url("../img/five-contact05.png") no-repeat;
}
#fullpage #section5 .footer {
  text-align: center;
  color: #fff;
  font-size: 0.54545455rem;
  width: 100%;
  height: 2.72727273rem;
  position: absolute;
  bottom: 0;
  background-color: #332f47;
}
#fullpage #section5 .footer a {
  color: #fff;
}
