html {
  color: #000;
  background: #FFF;
}
@media (min-width: 1280px) {
  body {
    font-size: 8px !important;
  }
}
@media (min-width: 1440px) {
  body {
    font-size: 9px !important;
  }
}
@media (min-width: 1920px) {
  body {
    font-size: 12px !important;
  }
}
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}
/*because legend doesn't inherit in IE */
legend {
  color: #000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}
/*box center*/
.lessTransformCenterHorizontal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: 50% 0;
  -webkit-transform: translate(-50%, 0);
  -webkit-transform-origin: 50% 0;
}
.lessTransformCenterVertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transform-origin: 0 50%;
  -webkit-transform: translate(0, -50%);
  -webkit-transform-origin: 0 50%;
}
body {
  font-family: tahoma, arial, 'Hiragino Sans GB', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
.wrap {
  min-width: 1200px;
  font-size: 14px;
  font-family: '黑体', Helvetica, Arial, sans-serif;
}
.wrap a {
  color: #000;
  text-decoration: none;
}
.topMenu {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}
.topMenu .content {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}
.topMenu .content .logo {
  margin-right: 70px;
  display: inline-block;
  width: 132px;
  height: 80px;
}
.topMenu .content .logo > img {
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
.topMenu .content ul {
  list-style-type: none;
  display: inline-block;
}
.topMenu .content ul li {
  float: left;
  width: 100px;
  height: 77px;
  text-align: center;
  border-bottom: 3px solid #fff;
  margin-right: 20px;
}
.topMenu .content ul li a {
  color: #2a323a;
  margin-top: 25px;
  display: block;
}
.topMenu .content ul li a .title {
  font-size: 18px;
}
.topMenu .content ul li a .subtitle {
  font-size: 12px;
  color: #a9b0b8;
}
.topMenu .content ul li:hover {
  border-bottom: 3px solid #332f47;
}
.topMenu .content ul li.active {
  border-bottom: 3px solid #332f47;
}
.topMenu .content .login {
  width: 320px;
  height: 78px;
  margin-left: 20px;
  display: inline-block;
  overflow: hidden;
  background-size: 54px 54px;
  background: #332f47 url("../img/login.png") no-repeat 20px 15px;
}
.topMenu .content .login p {
  color: #fff;
  margin-left: 80px;
  margin-top: 20px;
}
.topMenu .content .login p .title {
  font-size: 18px;
}
.topMenu .content .login p .subtitle {
  font-size: 14px;
  color: #a9b0b8;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background: #333;
  /*活动导航的颜色*/
  border-color: #333;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: transparent;
  /*非活动导航的颜色*/
  height: 8px;
  width: 8px;
  margin: -4px 0 0 -4px;
  border: 1px solid #333;
  /*这里设置的是非活动导航的颜色*/
}
#fp-nav ul li .fp-tooltip {
  color: #333;
}
.main .main-content:before,
.main .main-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.main .main-content:after {
  clear: both;
}
.main .main-content .one {
  background: url("../img/one-bg.jpg") no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.main .main-content .one .download {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 18px;
  margin-top: 100px;
  margin-left: 20px;
}
.main .main-content .one .download a {
  display: inline-block;
  width: 190px;
  height: 50px;
  line-height: 50px;
  border-radius: 30px;
  color: #ffffff;
}
.main .main-content .one .download a > span {
  margin-left: 70px;
}
.main .main-content .one .download .ios {
  background: #3e81e4 url("../img/ios.png") no-repeat;
  background-size: 30px 36px;
  background-position: 30px;
  margin-right: 10px;
}
.main .main-content .one .download .android {
  background: #3e81e4 url("../img/android.png") no-repeat;
  background-size: 30px 37px;
  background-position: 30px;
}
.main .main-content .one #meteor0 {
  position: absolute;
  top: -100px;
  right: 200px;
}
.main .main-content .one #meteor1 {
  position: absolute;
  top: -100px;
  right: 100px;
}
.main .main-content .one #meteor2 {
  position: absolute;
  top: -100px;
  right: -110px;
}
.main .main-content .one #meteor3 {
  position: absolute;
  top: -100px;
  left: 100px;
}
.main .main-content .one #meteor4 {
  position: absolute;
  top: -100px;
  left: 400px;
}
.main .main-content .one #meteor5 {
  position: absolute;
  top: -100px;
  right: 50px;
}
.main .main-content .two .title {
  margin: 30px auto 0;
  width: 200px;
  text-align: center;
}
.main .main-content .two .title .title1 {
  font-size: 30px;
  position: relative;
  color: #000;
  height: 45px;
  line-height: 45px;
  padding-left: 25px;
}
.main .main-content .two .title .title1:before {
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: 1%;
  content: " ";
  width: 38px;
  height: 38px;
  display: inline-block;
  background: url("../img/one-title.png") no-repeat;
}
.main .main-content .two .title .title2 {
  font-size: 18px;
  color: #999;
  margin-top: 20px;
}
.main .main-content .two .product {
  width: 1200px;
  height: 980px;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
  padding-bottom: 32px;
}
.main .main-content .two .product .item {
  float: left;
  display: inline-block;
  width: 285px;
  height: 230px;
  background-color: #fafafa;
  margin-left: 20px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.main .main-content .two .product .item .title1 {
  margin-top: 100px;
  color: #000;
  font-size: 24px;
}
.main .main-content .two .product .item .title2 {
  margin-top: 15px;
  color: #999;
  font-size: 16px;
}
.main .main-content .two .product .item > img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: 50% 0;
  -webkit-transform: translate(-50%, 0);
  -webkit-transform-origin: 50% 0;
  margin-top: 30px;
}
.main .main-content .two .product .item:nth-child(1),
.main .main-content .two .product .item:nth-child(5) {
  margin-left: 0;
}
.main .main-content .three .top {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}
.main .main-content .three .top > p {
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: 50% 0;
  -webkit-transform: translate(-50%, 0);
  -webkit-transform-origin: 50% 0;
  margin-top: 100px;
  height: 43px;
  line-height: 43px;
}
.main .main-content .three .top > p:before {
  content: "";
  background: url(../img/three-title.png) no-repeat;
  width: 38px;
  height: 41px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 10px;
}
.main .main-content .three .top > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  border: none;
}
.main .main-content .three .top > .title {
  width: 1200px;
  bottom: 0;
  height: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: 50% 0;
  -webkit-transform: translate(-50%, 0);
  -webkit-transform-origin: 50% 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
}
.main .main-content .three .top > .title .title1 {
  font-size: 24px;
  padding-top: 10px;
}
.main .main-content .three .top > .title .title2 {
  font-size: 18px;
  margin-top: 10px;
}
.main .main-content .three .plan {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
.main .main-content .three .plan .item {
  width: 400px;
  height: 400px;
  text-align: center;
  float: left;
}
.main .main-content .three .plan .item > img {
  margin-top: 60px;
}
.main .main-content .three .plan .item .title {
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}
.main .main-content .three .plan .item .list {
  padding-left: 30px;
  overflow: hidden;
}
.main .main-content .three .plan .item .list .left {
  display: block;
  float: left;
}
.main .main-content .three .plan .item .list .right {
  text-align: left;
  display: block;
  float: left;
}
.main .main-content .three .plan .item .title1 {
  font-size: 16px;
  color: #666;
}
.main .main-content .four .title {
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: 50% 0;
  -webkit-transform: translate(-50%, 0);
  -webkit-transform-origin: 50% 0;
  margin-top: 100px;
  height: 43px;
  line-height: 43px;
}
.main .main-content .four .title:before {
  content: "";
  background: url(../img/four-title.png) no-repeat;
  width: 38px;
  height: 41px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 10px;
}
.main .main-content .four .four-bg1 {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.main .main-content .four .list {
  margin-top: 4px;
}
.main .main-content .four .list .item {
  width: 470px;
  height: 300px;
  margin-left: 10px;
  float: left;
}
.main .main-content .four .list .item > img {
  width: 100%;
  height: 100%;
}
.main .main-content .four .list .item:nth-child(1) {
  margin-left: 0;
}
.main .main-content .four .list .item .title1 {
  position: absolute;
  top: 25%;
  left: 49%;
  font-size: 30px;
  color: #fffefe;
}
.main .main-content .four .list .item .title2 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 13px;
  color: #fff;
}
.main .main-content .four .list .title1 {
  position: absolute;
  top: 25%;
  left: 49%;
  font-size: 30px;
  color: #fffefe;
}
.main .main-content .four .list .title2 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  color: #fff;
}
.main .main-content .subtitle {
  color: #000;
  font-size: 30px;
  /* margin: 0 auto; */
  text-align: center;
  margin-top: 31px;
}
.main .main-content .platform .item {
  border: 1px solid #f00;
  height: 300px;
  width: 49%;
  float: left;
}
.main .five {
  width: 100%;
}
.main .five .footer {
  position: absolute;
  bottom: 20px;
  height: 122px;
  left: 50%;
  margin-left: -480px;
}
.main .five .footer .footer-content {
  width: 960px;
  margin: 0 auto;
  padding-top: 23px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.main .five .footer .footer-content a {
  color: #fff;
}
.main .five .footer .footer-content a.text-primary {
  color: #fff;
}
.main .five .footer .footer-content p {
  margin-bottom: 10px;
}
.main .five .footer .footer-content img {
  vertical-align: baseline;
  margin-bottom: -2px;
}
.main .five .footer .footer-content a {
  color: #fff;
}
